body {
  font-size: 16px;
  color: #fff;
  background-color: white;
  font-family: 'Kiwi Maru', serif;
}

#header-nav{
	background-color: white;
	border-radius: 0;
	border: 0;
}

#logo-img{
	background: url('../images/boba.png') no-repeat;
	width: 160px;
	height: 140px;
	margin: 10px 15px 10px 0;
} 
.navbar-brand{
	padding-top: 25px;
}

.navbar-brand h1{
	color: orange;
	text-shadow: 1px 1px 1px red;
	font-size: 2.2em;
	font-weight: bold;
	margin-top: 0;

}

/**-- hover action --**/
.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;
}

/**-- shake it... styling --**/
.navbar-brand p{
	color: orange;
	text-shadow: 1px 1px 1px red;
	font-size: 1em;
	margin-top: 11px;
	text-align: center;
}
/**-- Menu..buttons --**/
#nav-list{
	margin-top: 20px; 
	font-size: 0.9em;
}
#nav-list a {
	color: black;
	text-align: center;
}
#nav-list a span{
	font-size: 1em
}
#nav-list a:hover{
	color: orange;
	text-shadow: 1px 1px 1px red;

	transform: scale(1.3);
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
	border: 1px solid black;
}
.navbar-header button.navbar-toggle{
	clear: both;
	margin-top: -2px;

}
.container .jumbotron{
	margin-bottom: 50px;
}
#main_content{
	margin-bottom: 20px;
}
#menu-title,#special-title,#map-title
{
	height: 250px;
	width: 100%
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
	border: 1px solid #3F0C1F;
}
#menu-title:hover, #special-title:hover,#map-title:hover{
	box-shadow: 0 1px 5px 1px #cccccc;
}

#menu-title{
	background: url('../images/menu.png') no-repeat;
	background-position: center;
}
#special-title{
	background: url('../images/special.jpeg') no-repeat;
	background-position: center;
}

#menu-title span, #special-title span, #map-title span
{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.5em;
	text-transform: uppercase;
	background-color: black;
	color: #fff;
	opacity: .8;

}

.panel-footer {
	margin-top: 30px;
	padding-top: 35px;
	padding-bottom: 35px;
	background-color: orange;
	border-top: 0;
	

}

.panel-footer div.row{
	margin-bottom: 35px;
}
#hours,#contactt,#contact-form{
	line-height: 2;
}
#hours > span, #contactt > span, #contact-form > span{
	font-size: 1.4em;
	color: brown;
	font-weight: bold;
	text-transform: uppercase;
}
#contact-form{
	color: black;
}

@media (min-width: 1200px){

.container .jumbotron {
	background: url('../images/boba-xl.jpeg') no-repeat;
	height: 700px;
}
#nav-list{
	margin-top: 20px; 
	font-size: 1em;
}

}



@media (min-width: 992px) and (max-width:1199px){

.container .jumbotron {
	background: url('../images/boba-l.png') no-repeat;
	height: 634px;
}
}



@media (min-width: 768px)and (max-width: 991px){
#nav-list{
	margin-top: 20px; 
	font-size: 0.9em;
}
#nav-list a span{
	font-size: 0.9em
}
.navbar-brand h1{
	
	font-size: 1.7em;
	margin-bottom: 0.1;

}
.navbar-brand p{
	font-size: 0.8em;
	margin-top: 0;

	}

.container .jumbotron {
	background: url('../images/boba-md.png') no-repeat;
	height: 500px;
}


	
}
@media (max-width: 767px){
	
.navbar-brand h1{
	
	font-size: 1.7em;
	margin-bottom: 0.1;

}
.navbar-brand p{
	font-size: 0.8em;
	margin-top: 0;

	}

.container .jumbotron{
	padding: 0;

}
#menu-title, #special-title, #map-title{
	width: 412px;
	margin: 0 auto 15px;
}
.panel-footer section{
	margin-bottom: 30px;
	text-align: center;
}
.panel-footer section:nth-child(3){
	margin-bottom: 0;

}
.panel-footer section hr{
	width: 50%
}

}
@media (max-width: 479px){
	#menu-title,#special-title,#map-title{
		width: 300px;
		margin: 0 auto 15px;

	}
}


























